.wallet-wrapper{
    display: flex;
    flex-direction: column;
    gap:1rem;
    margin-top:40px;
    background-color: rgba(214, 222, 225, 0.639);
    padding: 30px;
    border-radius: 10px;
}

.send{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 10px;
    border-radius: 10px;
    border: 0px;
    background-color: rgb(242, 213, 141);
}

.wallet-type{
    font-size: 30px;
}