.wallet-wrapper{
    display: flex;
    flex-direction: column;
    gap:1rem;
    margin-top:40px;
    background-color: rgba(214, 222, 225, 0.639);
    padding: 30px;
    border-radius: 10px;
}